head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title result
  link(rel="stylesheet" href="/static/test.css")

body
  h1 Final page
  hr 
  div#te
    | you have not completed this process 
    p so please give test again 
    p result : feil
    p total marks 
    marks= mar 
    | /4
    