head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title result
  link(rel="stylesheet" href="/static/test.css")

body
  h1 Final page
  hr 
  div#te
    | you have completed this process 
    p successfully 
    p result : pass
    p total marks 
    marks= mar 
    | /4
    p #[a( href=`/result/${n}.html`) see final result ]
    p on
    div#oo
      p https://nigk.herokuapp.com/result/#{n}.html


