head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title students 
  link(rel="stylesheet" href="/static/student.css")

body
  div#n
    ul
      li #[a( href="/") Home]
      li #[a( href="/about") About]
      li #[a( href="/contact") Contact]
      li #[a( href="/students") Students]
      
  h1 Students : #{num}
  p #{names}

